/* main css */
main{
    background-color: rgb(242, 243, 243);
}
main button{
    background-color: rgb(25, 36, 48);
    border-style: none;
    color: white;
    width: 100%;
    font-size: small;
}
main .sc img{
    width: 150px;
}
div.scrollmenu {
    background-color: white;
    overflow: scroll;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: white;
  }
/* footer css*/
footer .f1 button{
    background-color:rgb(52, 64, 77);
    width: 100%;
    height: 40px;
    color:white;
    border-style: none;
}
footer a{
    color: white;
    
}
footer .f2{
    background-color:rgb(29, 42, 56);
    color:white;
    padding-bottom: 15px;
}
footer .f3{
    background-color:rgb(16, 23, 31);
    color:white;
    font-size:small;
    margin-top: -16px;
    padding-top: 15px;
}